.feynman {
  position: relative;
  height: 890px;
  background-image: url("../../images/feynman/feynman.png");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 867px 637px;
  padding-top: 100px;
  background-color: linear-gradient(135deg, rgba(242,242,242,1) 36%, rgba(120,160,214,1) 100%);;

}
