.header {
  display: flex;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /*background-color: #f2f2f2;*/
  color: #000000;
  position: relative;
  overflow: hidden;
  background: rgb(242,242,242);
  background: linear-gradient(135deg, rgba(242,242,242,1) 36%, rgba(203,216,233,1) 100%);
}
